html, body { 
	/*font-family: 'Work Sans', sans-serif;*/
}

/*    h1 {
	
}*/

.big-bold {
	font-style: bold;
	font-size: 5em;
	font-weight: 900;
}

hr {
	width: 50%;
}

.jumbotron {
	width: 100%;
	height: 100%;
	margin-bottom: 0;
	padding-bottom: 0;
}

/*    .jumbotron-half {
	width: 50%;
	height: 50%;
	margin-bottom: 0;
	padding-bottom: 0;
}*/

#text-logo {
	font-style: bold;
	font-size: 13em;
	font-weight: 900;
  -webkit-animation-duration: 1.5s;
	-webkit-animation-delay: 1.5s;
}

#text-logo-sm {
	font-style: bold;
	font-size: 5em;
	font-weight: 900;
  -webkit-animation-duration: 1.5s;
	-webkit-animation-delay: 1.5s;
}

#intro-header {
	font-style: normal;
	font-size: 2.5em;
	font-weight: 300;
  -webkit-animation-duration: 2s;
}

#sub-header {
	font-style: normal;
	font-size: 2.5em;
	font-weight: 300;
  -webkit-animation-duration: 3s;
	-webkit-animation-delay: 2s;
}

.secondary-text {
	font-style: medium;
	font-size: 15em;
	font-weight: 500;
}

.listen {
	color: #FF530D;
}

.read {
 color: #AB1A25;
}

#page-one {
	/*background-color: #EFEFEF;*/
	color: #fff;
	background: url(/images/bartender-compressed.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#page-two {
	background-color: #fff;
}

#page-three {
	background-color: #fff;
}

.top-buffer {
	margin-top: 40px;
}

.site-wrapper {
	display: table;
}

.site-wrapper-inner {
	/* vertical-align: middle; */
	display: table-cell;
}

#star-pg {
	vertical-align: middle;
}

.vid img {
	height: 678px;
}


input#job-tag {
	background-color: transparent;
	border:0;
	/*border-bottom:solid 1px #000;*/
	outline:none;
	max-width: 10em;
	text-align: center;
	border-radius: 10px;
}

input#pay-rate {
	background-color: transparent;
	border:0;
	/*border-bottom:solid 1px #000;*/
	outline:none;
	max-width: 2em;
	text-align: center;
	border-radius: 10px;
}

input#submit-btn {
  -webkit-animation-duration: 3s;
	-webkit-animation-delay: 2s;
}

.box-shadow {
	box-shadow: 0 0 10px darkorange;
}
